<!DOCTYPE html>
<html>
<head>
  <title>FotCheckin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='navbar'>
	<ul>
		<li><strong><%= link_to "FOT Memberships Home", root_path %></strong></li>
		<% if comitee_signed_in? %>
			<li><strong>Hi, <%= current_comitee.email %></strong></li>
			<li><%= link_to "Check-In System", checkins_path %></li>
			<li><%= link_to "Membership management", members_path %></li>
			<li><%= link_to "Sign out", destroy_comitee_session_path, :method => :delete %></li>
			<li><%= link_to "Change account details", edit_comitee_registration_path %></li>
		<% else %>

		<% end %>
	</ul>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
