<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @member.studentid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @member.paid %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
